
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px
) !default;


h1, h2, h3, h4, h5, h6, th, td, input, textarea, select, option, legend, fieldset, button, optgroup  {
font-family: "freight-display-pro", serif;
font-style: normal;
}

body, p {
font-family: "Roboto Monox", monospace;
}

body {
  font-size: 100%;
	max-width: 100%;
overflow-x: hidden;	
}

.nooverflow{
	overflow:hidden;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

#page {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

/*
@include media(">phone") {
  #page {
    font-size: 1em;
    /* equivalent to 16px 
    line-height: 1.375;
    /* equivalent to 22px *//* 
  }
}
*/

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

/*
@include media ('>43.75em') {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px 
    line-height: 1.125;
  }
}

/*
@include media ('>56.25em') {
  h1 {
    font-size: 2.5em;
    /* 3x body copy size = 48px 
    line-height: 1.25;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings *//* 
  }
}
*/

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

/*
@include media ('>43.75em') {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px 
    line-height: 1.25;
  }
}

/*
@include media ('>56.25em') {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px 
    line-height: 1.25;
  }
}
*/

h3 {
  font-size: 1.175em;
  /* 1.375x body copy size = 22px */
  line-height: 1.2;
  /* 25px / 22px */
}

/*
@include media ('>43.75em') {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px 
    line-height: 1.25;
  }
}

/*
@include media ('>56.25em') {
  h3 {
    font-size: 1.55em;
    /* 1.75x body copy size = 28px 
    line-height: 1.583;
  }
}
*/

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

/*
@include media ('>43.75em') {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px *//* 
  }
}
*/

h5 {
  font-size: 1em;
  /* 1.125x body copy size = 18px */
  line-height: 1.0;
}


h6 {
  font-size: .6em;
  /* 1.125x body copy size = 18px */
  line-height: 1em;
}

/*
@include media ('>43.75em') {
  h6 {
    font-size: 1em;
    line-height: 1em;
    /* (22px / 18px *//* 
  }
*/



p {
  font-size: .8rem;
  line-height: 1rem;
}

/*
@include media ('>43.75em') {
  p {
    font-size: 1rem;
      line-height: 1.625rem;

  }
}









blockquote {
  font-size: 1.25em;
  /* 20px / 16px *//* 
  line-height: 1.25;
  /* 25px / 20px *//* 
}
*/

/* 
@include media ('>43.75em') {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = *//* 
    line-height: 1.45833333;
    /* 35px / 24px *//* 
  }
}
*/

b,strong{
	font-weight:700;
}
a:focus{
	border: 0;
	outline: none;	
}


