@import "./bootstrap/bootstrap";
@import "type";
@import "vars";
@import "include-media";





body {
}

p {
	font-family: "Roboto Mono", monospace;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 180%;
}

#welcome {
	background: $creme;
	color: $purple;
	padding-bottom: 3em;
	padding-top: 3em;
	padding-left: 1.7em;
}

.welcometext {
	color: $purple;
	font-size: 1em;
}

#welcome h1 {
  font-weight: 900;
  letter-spacing: 0.5px;
  color: $purple;
}

#welcome p {
  letter-spacing: 1px;
  font-size: 1em;
  color: $purple;
}

#welcome {
	background: #FFFAF0;
	color: $purple;
}

#beliefs h2 {
	text-transform: uppercase;
	color: $purple;
	letter-spacing: 2px;
}

#beliefs {
	background: #FFFAF0;
	color: $purple;
	text-align: center;
	padding: 3em 1.5em;
}

#beliefs h3 {
	font-weight: 700;	
	letter-spacing: 0.5px;
	line-height: 150%;
}

#beliefs span {
	font-size: 0.5em;
	display: inline;
}
